include setup.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_probe_geometry.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_probe.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_cad_diagnostics.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_cad.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_working_host_probe.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_working_rebar_probe.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_trial_geometry.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_trial_input.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_core_trial.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_plate_packet.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_physical_packet.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_trial.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_trial_worksharing.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_plan_preview.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_source_preview.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_pruned_preview.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_repaired_preview.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_workflow_81.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_workflow_81_native.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_workflow_81_transport.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_rebar_review.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_rebar_review.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingHostProbe.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingHostProbe.pushbutton/bundle.yaml
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingRebarProbe.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingRebarProbe.pushbutton/bundle.yaml
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/PlanPreview.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/PlanPreview.pushbutton/bundle.yaml
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Workflow.panel/SourceWorkflow.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Workflow.panel/SourceWorkflow.pushbutton/bundle.yaml
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Review.panel/RebarReview.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Review.panel/RebarReview.pushbutton/bundle.yaml
