include setup.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_probe_geometry.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_probe.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_cad_diagnostics.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_cad.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_working_host_probe.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_working_rebar_probe.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_trial_geometry.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_trial_input.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_core_trial.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_plate_packet.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_physical_packet.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_trial.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_trial_worksharing.py
include integrations/pyrevit/QMonitoring.extension/lib/qm_revit_plan_preview.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingHostProbe.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingHostProbe.pushbutton/bundle.yaml
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingRebarProbe.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/WorkingRebarProbe.pushbutton/bundle.yaml
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/PlanPreview.pushbutton/script.py
include integrations/pyrevit/QMonitoring.extension/QMonitoring.tab/Diagnostics.panel/PlanPreview.pushbutton/bundle.yaml
